.DestinationPage {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-main {
  padding: 20px;
}

.button-container {
  margin-bottom: 20px;
}

.random-button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.random-button:hover {
  background-color: #21a1f1;
}

.destination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination {
  width: 600px;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  padding: 20px;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destination:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.destination img {
  width: auto;
  height: 400px;
  border-radius: 10px 10px 0 0;
}

.destination h2 {
  margin: 10px 0;
}

.destination p {
  margin: 5px 0;
}

.arrow-styles {
  position: absolute;
  z-index: 2;
  top: calc(50% - 15px);
  width: 30;
  height: 30;
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}