/* 전체 페이지에 배경 이미지 추가 */
.hotels-page {
  text-align: center;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important; /* 전체 뷰포트 높이를 커버하도록 설정 */
  color: white !important; /* 텍스트 색상 설정 */
  display: flex; /* 중앙 정렬을 위해 flexbox 사용 */
  flex-direction: column; /* 세로로 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
}

/* 기존 스타일들 */
.accommodation {
  position: relative !important;
  width: 100% !important;
  max-width: 700px !important;
  margin: 0 auto !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  background: linear-gradient(135deg, #f6d365 0%, #119fe0 100%) !important;
  text-align: center; /* 텍스트 중앙 정렬 */
  border: 2px solid #000; /* 테두리 두께와 색상 설정 */
}

.accommodation-image-container {
  position: relative !important;
}

.accommodation-image {
  width: 100% !important;
  height: auto !important;
}

.accommodation-text {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  text-align: center !important;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding: 10px 0 !important;
}

.accommodation-details {
  padding: 20px !important;
  background-color: white !important;
  color: black !important;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.accommodation-details p {
  margin: 10px 0 !important;
}

/* 새로운 스타일 추가 */
.fixed-button-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fixed-button {
  background-color: #149dd3;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fixed-button:hover {
  background-color: #f6d365;
}
